:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
}

body {
  margin: 0 auto;
  padding: 20px 0;
  width: 375px;
  background-image: url("./assets/depositphotos_8138619-stock-photo-old-style-phone-over-yellow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  body {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    width: 1440px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
